a {
  color: #fff;
  font-weight: 800;
  text-decoration: none;
}

.frame-32 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.frame-31 {
  width: 100%;
  height: 168px;
  max-width: 100%;
  grid-column-gap: 380px;
  grid-row-gap: 260px;
  background-color: #000;
  justify-content: flex-start;
  align-items: center;
  padding: 28px 90px 28px 28px;
  display: flex;
}

.prime-logo-1 {
  object-fit: cover;
}

.vectors-wrapper {
  height: 27px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-2 {
  width: 180px;
  height: 28px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-no-shadow {
  z-index: 50;
  background-color: #000;
  font-family: nunito-sans, sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.navbar-no-shadow-container {
  z-index: 1;
  width: 100%;
  max-width: 1140px;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-link {
  color: #fff;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 25px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(255, 255, 255, .7);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  z-index: 2;
  color: #fff;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px 30px 5px 25px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(255, 255, 255, .7);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-top: 5px;
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-list.shadow-three.mobile-shadow-hide.w--open {
  z-index: 7;
  color: #fff;
  background-color: #131313;
  border-radius: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-dropdown-link {
  z-index: 7;
  color: #fff;
  border-top: 1px #272727;
  border-bottom: 1px #272727;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
}

.nav-dropdown-link:hover {
  color: rgba(255, 255, 255, .7);
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.mobile-margin-top-10 {
  flex: 1;
}

.nav-button-wrapper {
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 180px;
  display: flex;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #131313;
  padding: 15px 30px;
  font-size: 16px;
  line-height: 20px;
  transition: all .2s;
  display: flex;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.image {
  display: block;
}

.body {
  height: 4740px;
  color: #fff;
  font-family: nunito-sans, sans-serif;
  font-weight: 400;
}

.text-block {
  font-size: 20px;
}

.div-block {
  align-items: center;
  padding: 15px 30px;
  display: flex;
}

.image-2 {
  margin-right: 15px;
}

.text-block-2 {
  color: #fff;
  font-family: nunito-sans, sans-serif;
  font-size: 20px;
}

.div-block-2 {
  width: 100%;
  height: 800px;
}

.image-3 {
  z-index: -1;
  width: 100%;
  height: auto;
  max-height: 800px;
  object-fit: cover;
  position: static;
}

.image-3.hero {
  height: 900px;
  max-height: 900px;
  min-height: 500px;
  position: absolute;
}

.image-3.small {
  max-height: 200px;
}

.div-block-3 {
  z-index: -1;
  width: 100%;
  height: 800px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 120px 120px 120px 240px;
  display: flex;
  position: relative;
}

.div-block-3.text {
  height: 1000px;
  max-height: 1000px;
  padding-top: 0;
  padding-bottom: 180px;
  padding-left: 120px;
}

.heading {
  width: 500px;
  letter-spacing: -4px;
  margin-bottom: 30px;
  font-family: brothers, sans-serif;
  font-size: 126px;
  font-weight: 700;
  line-height: .8;
}

.heading.form {
  width: 100%;
  letter-spacing: -2px;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
  padding: 30px;
  font-size: 40px;
  display: flex;
}

.heading.secondary {
  width: auto;
  color: #fff;
  text-align: center;
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-top: auto;
  font-size: 64px;
  line-height: 1;
}

.heading.secondary.story {
  color: #fff;
  text-align: left;
  line-height: 1;
}

.heading.secondary.story.ab {
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}

.paragraph {
  width: 470px;
  font-size: 20px;
}

.paragraph-2 {
  max-width: 40ch;
  padding-left: 0;
  font-size: 20px;
  line-height: 1.5;
}

.div-block-4 {
  z-index: 3;
  width: 550px;
  height: 670px;
  background-color: #131313;
  align-items: flex-start;
  display: block;
  position: absolute;
  top: 24%;
  bottom: 0%;
  left: auto;
  right: 120px;
}

.div-block-4.final {
  width: 1000px;
  height: auto;
  background-color: #000;
  margin: 160px auto auto;
  position: static;
}

.div-block-4.final.about {
  background-color: #000;
}

.form-block {
  width: 1000px;
  flex-direction: column;
  margin-top: 51px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 120px;
  display: flex;
}

.form-block.top {
  width: auto;
  margin-top: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.form-block.contact {
  margin-top: 0;
}

.form-block.bottom {
  margin-top: -40px;
}

.submit-button {
  width: 100%;
  background-color: #e40001;
  border-radius: 8px;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 900;
}

.textarea {
  height: auto;
  min-height: 190px;
  border-radius: 8px;
}

.textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, .9);
}

.textarea::placeholder {
  color: rgba(0, 0, 0, .9);
}

.text-field {
  min-height: 50px;
  color: rgba(0, 0, 0, .9);
  border-radius: 8px;
}

.text-field::-ms-input-placeholder {
  color: rgba(0, 0, 0, .8);
}

.text-field::placeholder {
  color: rgba(0, 0, 0, .8);
}

.div-block-5 {
  width: 100%;
  height: 300px;
  background-color: #131313;
}

.section {
  margin-bottom: 120px;
  display: block;
}

.div-block-6 {
  height: 180px;
  background-color: #131313;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block-4 {
  text-transform: uppercase;
  font-family: brothers, sans-serif;
  font-size: 20px;
}

.image-4 {
  margin-bottom: 15px;
  padding-bottom: 0;
}

.paragraph-3 {
  margin-bottom: 15px;
  font-size: 20px;
}

.pricing-overview {
  background-color: #000;
  border-top: 1px #131313;
  border-bottom: 1px #131313;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 30px;
  display: flex;
  position: relative;
}

.pricing-overview.form {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.container.contact {
  width: 100vw;
  height: 500px;
  max-width: none;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
}

.container.contact.about {
  margin-top: 60px;
  margin-bottom: 180px;
}

.container.contact.real {
  height: 900px;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.body-text {
  max-width: 550px;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: nunito-sans, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.body-text.story {
  color: #fff;
  text-align: left;
  margin-bottom: 30px;
}

.body-text.story.ab {
  text-align: left;
}

.body-text.story.mission {
  max-width: 970px;
  text-align: center;
}

.body-text.contact {
  max-width: 800px;
  margin-bottom: 30px;
}

.pricing-grid {
  grid-column-gap: 64px;
  grid-row-gap: 50px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
}

.pricing-grid.service {
  grid-template-rows: auto;
}

.pricing-grid.services {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}

.pricing-card-three {
  z-index: 3;
  text-align: center;
  background-color: #131313;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 23px;
  display: flex;
  position: relative;
}

.pricing-card-three.service {
  transform: scale3d(1none, 1none, 1none);
  transform-style: preserve-3d;
  border-radius: 0;
  padding-top: 45px;
  padding-bottom: 15px;
  transition: all .2s;
}

.pricing-card-three.service:hover {
  transform: scale(1.1);
}

.pricing-card-three.us {
  transform: scale3d(1none, 1none, 1none);
  transform-style: preserve-3d;
  border-radius: 0;
  transition: all .2s;
}

.pricing-card-three.us:hover {
  transform: scale(1.1);
}

.pricing-card-three.us.service {
  color: #e40001;
  background-color: #131313;
  align-items: flex-start;
  padding: 30px;
}

.pricing-card-three.us.service:hover {
  background-color: #e40001;
  transform: scale(1.05);
}

.pricing-card-three.us.service.about {
  justify-content: center;
  align-items: center;
  transform: none;
}

.pricing-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: 16px;
}

.pricing-image.choose {
  margin-bottom: auto;
}

.pricing-image.service {
  width: 180px;
  height: 180px;
}

.pricing-card-text {
  width: auto;
  max-width: 230px;
  color: rgba(255, 255, 255, .6);
  margin-bottom: 20px;
  line-height: 1.5;
}

.pricing-card-text.services {
  max-width: 800px;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  color: #fff;
  margin-left: 2px;
  display: flex;
}

.service-heading {
  margin-bottom: 15px;
  font-family: brothers, sans-serif;
  font-size: 36px;
}

.service-heading.choose {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 1;
}

.service-heading.choose.services {
  font-size: 36px;
}

.text-block-5 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
}

.div-block-7 {
  z-index: 1;
  width: 100%;
  height: 10px;
  background-color: #e40001;
  border-radius: 0;
  display: flex;
  position: absolute;
  top: 1%;
  bottom: 2px;
  left: 0%;
  right: 0%;
}

.div-block-7.us {
  border-radius: 0;
}

.see-all {
  width: 180px;
  height: 45px;
  color: #000;
  background-color: #fff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  display: flex;
}

.see-all:hover {
  color: #fff;
  background-color: #e40001;
}

.see-all.about {
  color: #fff;
  background-color: #e40001;
  margin-left: auto;
  margin-right: auto;
}

.see-all.about:hover {
  color: #000;
  background-color: #fff;
}

.see-all.about.w--current {
  color: #fff;
  background-color: #e40001;
  margin-left: auto;
  margin-right: auto;
}

.see-all.about.w--current:hover {
  color: #000;
  background-color: #fff;
}

.see-all.about.body-2 {
  margin-left: 0;
}

.text-block-6 {
  color: #fff;
  font-size: 20px;
  font-weight: 900;
}

.hero-heading-right {
  background-color: #000;
  border-top: 1px #131313;
  border-bottom: 1px #131313;
  padding: 80px 30px;
  position: relative;
}

.hero-heading-right.about {
  margin-bottom: 300px;
}

.hero-heading-right.mission {
  background-color: #000;
}

.hero-wrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-wrapper.home {
  flex-direction: row;
  align-items: flex-start;
}

.hero-wrapper.home.mission {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-split {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.shadow-two {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.image-5 {
  z-index: 4;
  width: 920px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 3%;
  bottom: auto;
  left: auto;
  right: auto;
}

.footer-dark {
  background-color: #000;
  border-bottom: 1px #e4ebf3;
  padding: 50px 30px 15px;
  display: block;
  position: relative;
}

.footer-wrapper {
  max-width: 900px;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  width: 130px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-family: nunito-sans, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #fff;
  margin-top: 12px;
  margin-bottom: 6px;
  font-family: nunito-sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(255, 255, 255, .75);
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: none;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: rgba(228, 235, 243, 0);
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  color: rgba(255, 255, 255, .5);
  text-align: center;
  text-transform: none;
  padding-bottom: 5px;
  font-family: nunito-sans, sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.footer-copyright-center.long {
  width: 100%;
  max-width: 89ch;
  color: rgba(255, 255, 255, .5);
  text-transform: none;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  font-size: 12px;
  display: flex;
}

.container-2 {
  max-width: 1310px;
}

.image-6 {
  color: #fff;
}

.div-block-8 {
  width: 1px;
  height: 1px;
}

.rich-text-block {
  color: #fff;
  font-family: nunito-sans, sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.body-2, .body-3, .body-4 {
  color: #fff;
  background-color: #000;
  font-family: nunito-sans, sans-serif;
}

.link {
  color: rgba(255, 255, 255, .5);
  font-weight: 600;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  color: #fff;
  background-color: #000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 400px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.image-7 {
  margin-left: auto;
  margin-right: auto;
}

.body-5 {
  font-family: nunito-sans, sans-serif;
}

.heading-2 {
  width: 300px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  font-family: brothers, sans-serif;
}

@media screen and (min-width: 1920px) {
  .hero-heading-right.mission {
    border-top-style: none;
    border-bottom-style: none;
    margin-bottom: -1px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-no-shadow-container {
    z-index: 5;
  }

  .nav-menu-wrapper {
    z-index: 5;
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu {
    background-color: #000;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .nav-link {
    padding-left: 15px;
    padding-right: 15px;
  }

  .nav-dropdown-toggle {
    justify-content: center;
    align-items: center;
    display: flex;
    position: static;
  }

  .nav-dropdown-icon {
    margin-right: 15px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide.w--open {
    background-color: rgba(19, 19, 19, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    position: relative;
  }

  .nav-dropdown-link {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px;
  }

  .mobile-margin-top-10 {
    display: none;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .menu-button {
    background-color: #000;
    border-radius: 8px;
    padding: 15px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #000;
  }

  .div-block-2 {
    height: 1100px;
  }

  .image-3, .image-3.hero {
    height: 1100px;
    max-height: 1100px;
  }

  .div-block-3 {
    height: 900px;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .div-block-3.text {
    height: 360px;
    flex-direction: row;
    padding: 30px 45px;
  }

  .heading {
    width: 740px;
    text-align: center;
    letter-spacing: 0;
    font-size: 96px;
  }

  .heading.secondary.story {
    width: 100%;
    text-align: center;
  }

  .paragraph-2 {
    display: none;
  }

  .div-block-4 {
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    top: 54%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .div-block-4.final {
    width: 600px;
  }

  .form-block {
    width: 600px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .container {
    max-width: 728px;
  }

  .body-text.story {
    text-align: center;
  }

  .pricing-grid {
    grid-column-gap: 30px;
  }

  .see-all {
    margin-left: auto;
    margin-right: auto;
  }

  .see-all.about.body-2 {
    margin-left: auto;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
  }

  .hero-wrapper.home {
    flex-direction: column;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .image-5 {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
    top: 7%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .footer-dark {
    padding-left: 90px;
    padding-right: 90px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .list-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu {
    background-color: #000;
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .image-3.hero {
    height: 1100px;
    max-height: 1100px;
  }

  .div-block-3.text {
    padding-top: 45px;
  }

  .heading {
    font-size: 96px;
  }

  .heading.form {
    padding-left: 2px;
    padding-right: 2px;
    line-height: 1;
  }

  .heading.secondary {
    line-height: 1;
  }

  .div-block-4 {
    width: 460px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    top: 56%;
    left: 8px;
    right: 8px;
  }

  .div-block-4.final {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .div-block-4.final.about {
    margin-left: auto;
    margin-right: auto;
  }

  .form-block {
    width: 500px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .submit-button {
    margin-top: auto;
  }

  .paragraph-3 {
    max-width: 30ch;
    text-align: center;
  }

  .pricing-overview {
    padding: 60px 15px;
  }

  .container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .container.contact, .container.contact.about {
    padding-left: 0;
    padding-right: 0;
  }

  .body-text.story {
    max-width: 390px;
    font-size: 16px;
  }

  .pricing-grid, .pricing-grid.service {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .pricing-card-three.service {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
  }

  .pricing-card-text {
    max-width: 40ch;
  }

  .see-all {
    width: 150px;
    height: 45px;
    font-size: 16px;
  }

  .hero-heading-right {
    padding: 60px 15px;
  }

  .hero-wrapper.home {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-split {
    margin-left: auto;
    margin-right: auto;
  }

  .image-5 {
    width: 550px;
    top: 10%;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: rgba(255, 255, 255, .75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }
}

@media screen and (max-width: 479px) {
  .nav-menu {
    flex-direction: column;
  }

  .nav-button-wrapper {
    width: auto;
  }

  .image-3.hero {
    height: 1100px;
    max-height: none;
    min-height: 0;
  }

  .div-block-3.text {
    padding-top: 30px;
  }

  .heading {
    font-size: 72px;
  }

  .heading.form {
    width: 320px;
    padding-left: 0;
    padding-right: 0;
    line-height: 1;
  }

  .heading.secondary {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
  }

  .div-block-4 {
    width: 320px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -2%;
    left: 0;
    right: 0;
  }

  .div-block-4.final {
    width: 300px;
  }

  .form-block {
    width: 290px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .form-block.top {
    width: 320px;
    padding-top: 0;
  }

  .paragraph-3 {
    font-size: 16px;
  }

  .pricing-overview.form {
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .container {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .body-text {
    max-width: 26ch;
    font-size: 16px;
  }

  .pricing-grid {
    grid-template-columns: 1fr;
  }

  .service-heading.choose {
    max-width: 18ch;
  }

  .see-all {
    height: 45px;
  }

  .hero-wrapper.home {
    flex-direction: column;
  }

  .hero-split {
    margin-left: auto;
    margin-right: auto;
  }

  .image-5 {
    width: 430px;
    top: 10%;
  }

  .div-block-9 {
    height: auto;
  }
}

#w-node-c2ef9ddf-5fd6-da6b-bf49-0440e7ba4bd2-f19dffbd, #w-node-c2ef9ddf-5fd6-da6b-bf49-0440e7ba4bdc-f19dffbd, #w-node-c2ef9ddf-5fd6-da6b-bf49-0440e7ba4be6-f19dffbd, #w-node-ce03ae49-b96d-f28c-d516-403ef77bc717-f19dffbd, #w-node-ea519261-45e4-414f-cb50-8ed027a60896-f19dffbd, #w-node-_0136aaa2-b08d-048a-5048-1de4040744d6-f19dffbd, #w-node-_05c15016-137d-5c54-29a4-e0dbba52718a-f19dffbd, #w-node-a50189f9-b0ec-56b0-0ea4-4949047edc9d-f19dffbd, #w-node-c9380603-cd38-b08e-9871-0e817d1345dd-f19dffbd, #w-node-b3a292d9-7fa6-eb8a-c742-f7be6560e712-6560e70c, #w-node-b3a292d9-7fa6-eb8a-c742-f7be6560e71d-6560e70c, #patio.w-node-_279cb19b-c5b4-c8ff-d146-42671f9a44a9-54478d63, #w-node-_279cb19b-c5b4-c8ff-d146-42671f9a44b0-54478d63, #car-port.w-node-_279cb19b-c5b4-c8ff-d146-42671f9a44b9-54478d63, #sidewalk.w-node-_279cb19b-c5b4-c8ff-d146-42671f9a44c2-54478d63, #w-node-_279cb19b-c5b4-c8ff-d146-42671f9a44cb-54478d63, #w-node-_279cb19b-c5b4-c8ff-d146-42671f9a44d2-54478d63 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


